<footer class="bg-light mt-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <h3>About Us</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget ipsum vitae sem faucibus suscipit. Suspendisse ultrices rhoncus mi, non pharetra magna fringilla vitae.</p>
        </div>
        <div class="col-md-4">
          <h3>Quick Links</h3>
          <ul class="list-unstyled">
            <li><a href="#">Home</a></li>
            <li><a href="#">Movies</a></li>
            <li><a href="#">TV Shows</a></li>
            <li><a href="#">News</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Contact Us</h3>
          <p>123 Main Street<br>Los Angeles, CA 90001<br>Phone: (555) 555-5555<br>Email: info@moviedirectory.com</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12 text-center">
          <p>&copy; 2023 Movie Directory. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  