




        <div class=" d-flex flex-column align-items-center mt-5 ">
            <form id="movie-form" method="POST" action="/create-movie">
                <div class="form-group m-2">
                    <label for="movieName">Movie Name </label>
                    <input type="text" class="form-control w-75" id="movie_name" name="movie_name"
                        placeholder="Enter movie name" required>
                </div>
                <div class="d-flex flex-row">
                    <div class="form-group m-2">
                        <label for="Rating">Rating</label>
                        <input type="number" class="form-control" min="1" max="5" id="rating" name="rating"
                            placeholder=" Rating" required>
                    </div>
                    <div class="form-group m-2">
                        <label for="Rating">Duration</label>
                        <input type="number" class="form-control" min="1" max="200" id="duration" name="duration"
                            placeholder="Duration" required>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary m-2">Submit</button>
            </form>
        </div>