<link rel="stylesheet" href="/css/home.css">

   <div id="main">
      <div id="div1">
        <%- include('search'); %>
        <%- include('form'); %>
 
      </div>
    
      <div id="div2">
        <%- include('table'); %> 
      </div>
  </div>         
      <script src="/js/searchBar.js">

      </script>   
   
