

  <link rel="stylesheet" href="/css/table.css">
  <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script> 
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 
  <nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/form-page">Form</a></li>
    </ul>
    <p class="navbar-text">Some text</p>
  </nav>