<!-- <link rel="stylesheet" href="/js/searchBar.js">
<form>
    <label for="search">Search movies:</label>
    <input type="text" id="search" name="search" placeholder="Enter a movie name..."  onkeyup="searchFun()">
    <button type="submit">Search</button> 
</form> 
-->

