<div class="container">

  <table id="myTable" class="table table-striped">
    <thead>
      <tr>
        <th>Movie name</th>
        <th>Rating</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
      <% for(movie of movies) {%>
        <tr>
          <td>
            <%= movie.movie_name %>
          </td>
          <td>
            <%= movie.rating %>
          </td>
          <td>
            <%= movie.duration %>
          </td>
        </tr>
        <% }%>
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function () {
    $('#myTable').dataTable();
  });
</script>